@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Rubik:900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
/*  --yellow-2: #e4d671; */
  --yellow-2: #f7e877;
  --yellow-3: #f0da41;
  --yellow-4: #dbc73b;
  --black-1: #1a0301;
  --black-2: #241f1f;
/* --red-1: #e8504d;*/
  --red-1: #ff5a57;
  --red-2: #bf2e2a;
}

body {
  background-image: url('./background.png');
}
header {
  width: 300px;
  margin: 0 auto;
  background-image: radial-gradient( var(--red-2), var(--red-1));
  background-color: var(--red-1);
  text-align: center;
  padding: 0px;
  -webkit-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  transform: skewY(-2deg);
}


.muted {
  color: var(--red-2);
}
.header-text {
  font-family: 'Rubik', sans-serif;
  width: 250px;
  margin: 25px auto 25px auto;
  background-color: var(--yellow-2);
  color: var(--black-1);
  -webkit-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  border: 2px solid var(--black-1);
  transform: skewY(-9deg);
  border-radius: 1px;
}

legend {
  text-align: center;
}
.options {
  margin: 0 auto;
}


#main {
  width: 300px;
  margin: 50px auto 0 auto;
  padding: 20px;
  background-image: radial-gradient( var(--red-2), var(--red-1));
  background-color: var(--red-2);
  -webkit-box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.75);
  transform: skewY(-9deg);
}

.btn-container {
  width: 100%;
  text-align: center;
}

.btn-primary {
  font-family: 'Rubik', sans-serif;
  background-color: var(--yellow-2);
  color: var(--black-1);
  -webkit-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  border: 2px solid var(--black-1);
  transform: skewY(-6deg);
  transform-origin: top left;
  margin: 0 auto;
  border-radius: 1px;
}

.btn-primary:hover {
  background-color: var(--yellow-3);
  color: var(--black-1);
  -webkit-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  border: 2px solid var(--black-1);
  transform: skewY(-6deg);
  transform-origin: top left;
  margin: 0 auto;
  border-radius: 1px;
}

.btn-primary:active {
  background-color: var(--yellow-3);
  color: var(--black-1);
}

.btn-primary > .active {
  color: var(--black-1);
  background-color: var(--yellow-3);
}

.nav-link {
  color: var(--black-1);
}

.nav-link:active {
  background-color: var(--yellow-4);
}
.nav-link:hover {
  color: var(--black-1);
  background-color: var(--yellow-4);
}

.card {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 1px;
  background-image: radial-gradient( var(--red-2), var(--red-1));
  background-color: var(--red-2);
  -webkit-box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.75);
  transform: skewY(-5deg);
}

.card-header {
  font-size: 2rem;
  background-color: var(--yellow-2);
  border: 1px solid var(--black-1);
  margin: 0 0 15px 0;
  -webkit-box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.75);
}

.card-subtitle {
  font-size: 1rem;
}

.list-group-item {
  font-family: 'Rubik', sans-serif;
  background-color: var(--yellow-2);
  color: var(--black-1);
  -webkit-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 1px 1px rgba(0,0,0,0.75);
  border-radius: 1px;
  border: 2px solid var(--black-1);
  transform: skewY(9deg);
  margin: 10px auto;
  padding: 5px;
}

.custom-select {
  background-color: var(--yellow-2);
  border: 1px solid var(--black-1);
}

input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
  border-radius: 100%;
  border: none;
  appearance: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-color: var(--yellow-2);
}

input[type="radio"]:checked, input[type="checkbox"]:checked {
  background-color: var(--black-1);
  border: 1px solid yellow;
}

input[type="radio"]:active, input[type="checkbox"]:active {
  background-color: var(--yellow-3);
}

input[type="radio"]:hover, input[type="checkbox"]:hover  {
  background-color: var(--yellow-4);
}

