@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Rubik:900&display=swap');
:root {
  /*  --yellow-2: #e4d671; */
  --yellow-2: #f7e877;
  --yellow-3: #f0da41;
  --yellow-4: #544f18;
  --black-1: #1a0301;
  --black-2: #241f1f;
  /* --red-1: #e8504d;*/
  --red-1: #ff5a57;
  --red-2: #bf2e2a;
}

body {
  background-image: url('./background.png');
  font-family: 'IBM Plex Sans', sans-serif;
}
