@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Rubik:900&display=swap');
:root {
  --yellow-2: #f7e877;
  --site-color-1: #f0da41;
  --site-color-1-focus: #e2792c;
  --yellow-4: #544f18;
  --black-1: #1a0301;
  --black-2: #241f1f;
  --red-1: #ff5a57;
  --red-2: #bf2e2a;
}

body {
  background-image: url('./background.png');
  font-family: 'IBM Plex Sans', sans-serif;
}

.site-shadow {
  -webkit-box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.75);
  border: 2px solid var(--black-1);
}

.header-text {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  width: 250px;
  margin: 25px auto 25px auto;
  background-color: var(--site-color-1);
  color: var(--black-1);
  transform: skewY(-9deg);
  border-radius: 1px;
}

.nav {
  margin: 1rem auto;
}

.nav.li {
  margin: 0 1rem;
}

.nav-button {
  transform: skewY(3deg);
  background-color: var(--site-color-1);
  margin: 0 1rem;
}

.nav-button.active {
  background-color: var(--site-color-1-focus);
}

.nav-link {
  color: var(--black-1);
}

.nav-link.active {
  color: var(--site-color-1);
}
