@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Rubik:900&display=swap');
:root {
  --yellow-2: #f7e877;
  --site-color-1: #f0da41;
  --site-color-1-focus: #e2792c;
  --comic-paper: #fffefa;
  --yellow-4: #544f18;
  --black-1: #1a0301;
  --black-2: #241f1f;
  --card-color-1: #ff5a57;
  --card-color-2: #bf2e2a;
}

body {
  background-image: url('./background.png');
  font-family: 'IBM Plex Sans', sans-serif;
}

label {
  font-size: 2rem;
  margin-right: 2rem;
  margin-left: .5rem;
}

.site-shadow {
  -webkit-box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.75);
}

.header-text {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  width: 250px;
  margin: 25px auto 25px auto;
  background-color: var(--site-color-1);
  color: var(--black-1);
  transform: skewY(-9deg);
  border-radius: 1px;
  border: 2px solid var(--black-1);
}

.nav {
  margin: 1rem auto;
}

.nav.li {
  margin: 0 1rem;
}

.nav-button {
  transform: skewY(3deg);
  background-color: var(--site-color-1);
  margin: 0 1rem;
}

.nav-button.active {
  background-color: var(--site-color-1-focus);
}

.nav-link {
  color: var(--black-1);
}

.nav-link.active {
  color: var(--site-color-1);
}

.comic-page {
  margin: 3rem;
  padding: 2rem;
  border-radius: 1px;
  background-image: radial-gradient(var(--card-color-2), var(--card-color-1));
  background-color: var(--card-color-2);
  transform: skewY(1deg);
}

.option-title {
  display: block;
  width: max-content;
  padding: .75rem;
  margin-bottom: 2rem 0 1rem 0;
  font-family: 'Rubik', sans-serif;
  background-color: var(--site-color-1);
  color: var(--black-1);
  transform: skewY(-5deg);
  border-radius: 1px;
  border: 2px solid var(--black-1);
}

.comic-block {
  padding: 0 2rem 2rem 0;
  border-radius: 1px;
  background-image: radial-gradient(var(--card-color-2), var(--card-color-1));
  background-color: var(--card-color-2);
  transform: skewY(1deg);
}

.options {
  margin: 3rem 0 0 2rem;
}

input[type='radio'],
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
  border-radius: 100%;
  border: none;
  appearance: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: var(--site-color-1);
}

input[type='radio']:checked,
input[type='checkbox']:checked {
  background-color: var(--black-1);
  border: 4px solid var(--site-color-1);
}

input[type='radio']:active,
input[type='checkbox']:active {
  background-color: var(--site-color-1-focus);
}
